doctype
html
  head
    title home
  body(style='text-align: center')
    header
      h1 Welcome to this awesome home page glad you registered
    p(style='color: red').
      This html content is brought to you by jade
    div Enter a NBA players name to search for  : 
    form(method='GET' action='player/find' )
      input(type='text' name='name')
      br
      br
      input(type='submit'  value='Search')
      br
      br
    block content
      h4= error
      h4= username
    br
    footer
      h6 @MaxJacobsen
