doctype
html
  head
    title home
  body(style='text-align: center')
    header
      h1 Welcome to this awesome home page glad you registered
    p(style='color: red').
      This html content is brought to you by jade
    ul(style = 'list-style-type: circle; list-style-position: inside')
      b This app is designed to keep track of nba players info and stats this includes
      li Name
      li Team
      li Age
      li Position
      li Height
      li If they are a rookie or not
      li Number of Games Played
      li total stats
      li average stats
    br
    br
    footer
      h6 @MaxJacobsen
