doctype
html
  head
    title Login
  body(style='text-align: center')
    header
      h1 Please enter your username and password to log in:
    br
    br
    form(method='POST')
      div Username:
        input(name='username')
      br
      div Password:
        input(name='password')
      br
      input(type='submit' value='Login')
      br
      br
      br
      footer
        h6 @MaxJacobsen
