doctype
html
  head
    title Registration
  body(style='text-align: center')
    header
      h1 Create User:
    br
    br
    form(method='POST')
      div New Username:
        input(name='newusername')
      br
      div New Password:
        input(name='newpassword' type='password')
      br
      div Confirm Password:
        input(name='confirmpassword' type='password')
      br
      br
      input(type='submit' value='Create User')
      br
      br
      br
    footer
      h6 @MaxJacobsen
